.container_produits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1% 0 0 0;
}

.margin_style {
    margin: 2% 0 2% 0;
}

.navbar {
    margin: 0 0 2% 0;
}

input:invalid {
    border: 6px solid red;
}